<div class="container" style="display: flex; justify-content: center;">
    <img class="error" src="https://th.bing.com/th/id/R.95ee8e19f78e60fc62420667924673e1?rik=56Zewfnii%2f9dfQ&pid=ImgRaw&r=0" alt="">
</div>

<style>
    .error{
        width: 100%;
        height: 100vh;
    }
</style>