<%- include ('../layouts/user/header.ejs') %>

<div class="container">
   
    <div class="vh-100 d-flex justify-content-center align-items-center ">
      <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
          <h2 class="text-center mb-4 text-primary">Forgot Password</h2>
          <form method="post" action="/verifyForgotPassword" onsubmit="return allChecking()">
              <div class="mb-3">
                    <div class="form-outline mb-4">
                 
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="form-control form-control-lg"
                      placeholder="Email"
                      onchange="emailChaking()"
                    />
                    <span id="Email"></span>
                  </div>
                 
                  <div class="form-outline mb-4">
                  
                    <input
                      type="password"
                      name="password"
                      id="password"
                      placeholder="Password"
                      class="form-control form-control-lg"
                      onchange="passwordChaking()"
                    />
                    <span id="Password"></span>
                  </div>

                  <div class="form-outline mb-4">
                  
                    <input
                      type="password"
                      name="password2"
                      id="password2"
                      placeholder="conform-Password"
                      class="form-control form-control-lg"
                      onchange="passwordChaking2()"
                    />
                    <span id="Password2"></span>
                  </div>


                  <input type="hidden" name="phoneNumber" value="<%= phoneNumber %>">
                 
              </div>
             
              <div class="d-grid">
                  <button class="btn btn-primary" type="submit"
                  onclick="passwordChaking(), passwordChaking2()"
                  >Reset Password</button>
              </div>
          </form>
         
      </div>
  </div>
</div>

<script>
    function emailChaking(){
    let emailId=document.getElementById("email").value;
    console.log("emailId"+emailId);
    if(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/.test(emailId)==false){
      document.getElementById("Email").innerHTML="Please enter valid email ";
      return false;
    }else{
      document.getElementById("Email").innerHTML="";
      return true;
    }
  }
    let password=document.getElementById("password").value; 
  function passwordChaking(){
    password=document.getElementById("password").value; 
     if(password.length <8){
      document.getElementById("Password").innerHTML="please enter minimum 8 digits";
      return false
       }else{
        document.getElementById("Password").innerHTML="";
          return true
       }
  }
  function passwordChaking2(){
    let password2=document.getElementById("password2").value;
    console.log(password2)
     if(password2 != password || password2==""){
      document.getElementById("Password2").innerHTML="Password not match";
      return false
       }else{
        document.getElementById("Password2").innerHTML="";
        return true
       }
      }
  function allChecking(){
    if(emailChaking()&&passwordChaking()&&passwordChaking2()){
      return true
    }else{
      return false
    }
  }
</script>