<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mcart</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="admin/assets/css/login.css">
  <style>
    span {
      color: red;
      height: 20px;
    }
  </style>
</head>

<body>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="/register" method="post" onsubmit="return validateSignup()">
        <h1>Create Account</h1>
        <div class="social-container">
          <a href="/" class="social">M</a>
          <a href="/" class="social">C</a>
          <a href="/" class="social">A</a>
          <a href="/" class="social">R</a>
          <a href="/" class="social">T</a>
        </div>
        <span style="color: black;">use your email for registration</span>
        <div class="infield">
          <input class="in" type="text" placeholder="Name" name="name" id="name" onkeyup="validateName()" />
          <span id="errorName"></span>
        </div>
        <div class="infield">
          <input class="in" type="text" placeholder="Email" name="email" id="email" onkeyup="validateEmail()" />
          <span id="errorEmail"></span>
        </div>
        <div class="infield">
          <input class="in" type="text" placeholder="mobile no" name="mno" id="number" onkeyup="validateNumber()" />
          <span id="errorNumber"></span>
        </div>
        <div class="infield">
          <input class="in" type="password" placeholder="Password" name="password" id="password"
            onkeyup="validatePassword()" />
          <span id="errorPassword"></span>
        </div>
        <button type="submit" onclick="validateEmail(),validateName(),validatePassword(),validateNumber()">Sign
          Up</button>
        <% if(typeof message !=='undefined' ){ %>
          <span style="color: crimson; padding-top: 20px;">
            <%= message %>
          </span>
          <% } %>
      </form>
    </div>
    <div class="form-container sign-in-container">

      <form action="/user_signin" method="post" onsubmit="return login()">
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="/" class="social">M</a>
          <a href="/" class="social">C</a>
          <a href="/" class="social">A</a>
          <a href="/" class="social">R</a>
          <a href="/" class="social">T</a>
        </div>
        <span style="color: black;">provide credentials to login</span>
        <div class="infield">
          <input id="Email" type="text" placeholder="Email" name="email" onkeyup="loginEmail()" />
          <span id="errEmail"></span>
        </div>
        <div class="infield">
          <input type="password" id="Password" placeholder="Password" name="password" onkeyup="loginPassword()" />
          <span id="errPassword"></span>
        </div>
        <a href="/loadForgotNumber" class="forgot">Forgot your password?</a>
        <button type="submit" onclick="loginEmail(), loginPassword()">Login</button>
        <% if(typeof message !=='undefined' ){ %>
          <span style="color: crimson; padding-top: 20px;">
            <%= message %>
          </span>
          <% } %>
      </form>
    </div>
    <div class="overlay-container" id="overlayCon">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button>Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button>Sign Up</button>
        </div>
      </div>
      <button id="overlayBtn"></button>
    </div>
  </div>
  <footer>
  </footer>
  <script>
    const container = document.getElementById('container');
    const overlayCon = document.getElementById('overlayCon');
    const overlayBtn = document.getElementById('overlayBtn');

    overlayBtn.addEventListener('click', () => {
      container.classList.toggle('right-panel-active');

      overlayBtn.classList.remove('btnScaled');
      window.requestAnimationFrame(() => {
        overlayBtn.classList.add('btnScaled');
      })
    });

  </script>
  <script src="validation.js"></script>
</body>

</html> -->






<%- include ('../layouts/user/header.ejs') %>
  <header>
    <style>
      body {
        overflow: hidden;
      }
    </style>
  </header>

  <h1 class="row d-flex align-items-center justify-content-center h-100 mt-5 ">
    Login User
  </h1>



  <section style="width: 100%;">
    <div class="container-fluid mt-5">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form action="/user_signin" method="post" onsubmit="return allChecking()">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="email">Email address</label>
              <input type="email" id="email" name="email" class="form-control form-control-lg"
                onchange="emailValidate()" />
              <span id="Email"></span>
            </div>


            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="password">Password</label>
              <input type="password" id="password" class="form-control form-control-lg" name="password"
                onchange="passwordValidate()" />
              <span id="Password"></span>
            </div>

            <div class="d-flex justify-content-around align-items-center mb-4"></div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block align-items-center" value="Login"
              onclick="emailValidate(),passwordValidate()">
              Login
            </button>
            <div><a href="/register">New Register</a>
              <a href="/loadForgotNumber" id="forgotId">Forgot Password</a>
            </div>


            <div class="divider d-flex align-items-center my-4">
              <% if(typeof message !=='undefined' ){ %>
                <span>
                  <%= message %>
                </span>
                <% } %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script>
    // let emailId=document.getElementById("Email")
    function emailValidate() {
      let emailId = document.getElementById("email").value;
      if (/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/.test(emailId) == false) {
        document.getElementById("Email").innerHTML = "Please enter valid email ";
        return false;
      } else {
        document.getElementById("Email").innerHTML = "";
        return true;
      }
    }
    function passwordValidate() {
      let password = document.getElementById("password").value;
      if (password.length < 8) {
        document.getElementById("Password").innerHTML = "please enter valied password";
        return false

      } else {
        document.getElementById("Password").innerHTML = "";
        return true;
      }
    }
    function allChecking() {
      if (emailValidate() && passwordValidate()) {
        return true
      } else {
        return false
      }
    }

  </script>
  <!-- </body>
</html> -->