<section style="height: 10000vh; overflow: hidden; background-color: #4D5061;">
    <div class="credit-card-wrap">
        <div class="mk-icon-world-map"></div>
        <div class="credit-card-inner">
            <header class="header">
                <div class="credit-logo">
                    <div class=""><span class="txt"></span></div> <span class="text">
                        Lux Looks
                    </span>
                </div>
            </header>
            <div class="mk-icon-sim"></div>
            <div class="credit-font credit-card-number" data-text="">BALANCE:user.wallet</div>
            <footer class="footer">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="credit-card-date"><span class="title">Expires End</span><span class="credit-font">Never</span></div>
                        <div class="credit-font credit-author">user.name</div>
                    </div>
                    <div class="pull-right"><div class="mk-icon-visa"></div></div>
                </div>
            </footer>
        </div>
    </div>